# Ignore virtual environment
venv/
GDSC/gdsc_venv/
protein_classification/prot_class_venv/

# Ignore compiled Python files
__pycache__/
*.pyc
.python-version

# Large data
*.csv
*.xyz
*.DS_Store
*.fasta
*.tsv
*.txt
*.obo
*.xlsx
*.html